@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap/scss/bootstrap.scss");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
.fans {
  position: fixed;
  bottom: 20px;
  left: -5px;
}

.intro-gif {
  width: 40%;
  object-fit: contain;
}

.fans2 {
  position: fixed;
  bottom: 20px;
  left: 59%;
}

.intro-gif2 {
  width: 40%;
  object-fit: contain;
  transform: scaleX(-1);
}

p, h4, #RC_h1 {
  padding: 5px;
  color: white;
  text-shadow: 1px 1px black;
}

.spacer {
  height: 30vh;
}

.btn {
  position: fixed;
  bottom: 20px;
  left: 48%;
}

@media only screen and (max-width: 900px) {
  .btn {
    left: 44%;
  }
}

@media only screen and (max-width: 500px) {
  .btn {
    left: 40%;
  }
}

.list {
  padding: 5px;
  color: white;
  text-shadow: 1px 1px black;
  margin-bottom: 100px;
}
